body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
hr{
  border: dotted #2fc4b2 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1 {
  color: #66bfbf;
  margin: 50px auto 0 auto;
  line-height: 2;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
}

h2 {
  padding-bottom: 10px;
  color: #11999e;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
}
a{
  color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
.top-container {
  background-color: #E4F9F5;
  margin-top: 50px;
  padding-top: : 50px;
}

.middle-container {
  position: relative;
  bottom: 5px;
  background-color: white;
  padding-top: 100px;
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
  margin-top: 10px;
}

.prof {
  width: 25%;
}

.pro {
  color: #66bfbf;
  text-size: 100px;
}

.pro {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #1b6ca8;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
}

.skill {
  text-align: left;
  line-height: 2;
  margin-top: 0;
}

.computer {
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 50px;
}

.chillies {
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-top: 0px;
}

.hhh {
  margin-top: 80px;
}

.csd{
  margin-bottom: 150px;
}
.intro{
  width: 30%;
  text-align: center;
  margin:0 auto 50px auto;
}
.cm{
  width: 25%;
  text-align: center;
  margin: 50px auto;
  line-height: 2;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.cr{
  color: #EAF6F6;
}
